@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar {
	scrollbar-width: thin;
	scrollbar-color: #188af5 rgba(218, 218, 219, 0.5);
	/* previous color : #4EA5F7 */
}

.scrollbar::-webkit-scrollbar {
	width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
	background-color: rgba(218, 218, 219, 0.5);
}

.scrollbar::-webkit-scrollbar-thumb {
	/* previous color : #4ea5f7; */
	background-color: '#188AF5';
	border-radius: 5px;
}
::backdrop {
	backdrop-filter: blur(8px);
}
